.titleBar {
    background-color: #B0B5C3;
}

h1 {
    margin-bottom: 50px;
    color: black;
    font-weight: 200;
    font-size: 23px;
    font-family: 'Helvetica', serif;
    text-align: center;
    margin-top: 75px;
}

h1 b {
    font-weight: 510;
}

h3 {
    font-size: 20px;
    font-family: 'Helvetica', serif;
    margin-bottom: -50px;
    margin-top: 40px;
}

.resultBox {
    background-color: white;
    height: 360px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 70px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 2px 5px #6E8BD6;
    text-align: center;

    border-radius: 0px;
}

footer {
    background-color: #ebf0f4;
}

.footerButton {
    background-color: #B0B5C3;
}

.row {
    padding-top: 15px;
    padding-bottom: 15px;
}

#bekreftInnsending {
    position: fixed;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    top: 50%;
    left: 50%;
    right: 50%;

    border: 2px lightgray solid;

    transform: translate3d(-50%, -50%, 0px);


    background-color: white;
}

#backgroundDimmer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

#closeDialog {
    cursor: pointer;
}

.bigButton {
    display: inline-block;
    margin-left: 20px;
    margin-top: 90px;
}

h2 {
    font-weight: 100;
}

#footerRight:hover {
    color: #0056b3;
    cursor: pointer;
}