body {
    background-color: #F7FAFF !important;
    background-image: none !important;
    font-size: 18px;
}

.titleBar {
    background-color: #B0B5C3;
}

.container {
    margin-bottom: 20px;
}

footer {
    background-color: #ebf0f4;
}

.footerButton {
    width: 200px;
    height: 100%;
    background-color: #B0B5C3;
    text-align: center;
}

.checkbox {
    margin-right: 90px;
}

.row {
    width: 40%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.smallText {
    width: 40%;
}


.col-sm-6 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-bottom: 20px;
    color: black;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    font-family: 'Helvetica', serif;
}

#footerRight:hover {
    color: #0056b3;
    cursor: pointer;
}
