.titleBar {
    background-color: #B0B5C3;
}

.textField {
    height: 35px;
    width: 100%;
    border-radius: 0px;
    border-color: #6E8BD6;
    border-width: 1px;
    border-style: solid;

    text-align: left;
}

.container {
    margin-top: 40px;
}


.rowFirst {
    color: #6E8BD6;
}

footer {
    background-color: #ebf0f4;
}

.footerButton {
    width: 200px;
    height: 100%;
    background-color: #B0B5C3;
    text-align: center;
}


.container {
    margin-top: 40px;
    text-align: center;
}

h1 b {
    font-weight: 500;
}

.row {
    height: 55px;
    width: 45%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    text-align: center;
}


.col-sm-3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

