.titleBar {
    background-color: #6E8BD6;
}

.container {
    margin-top: 40px;
}

#mininfoBox {
    background-color: white;
    width: 550px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 70px;
    padding: 20px;
    box-shadow: 0px 2px 5px #6E8BD6;
    text-align: center;

    border-radius: 0px;
}

.endreBox {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 100px;

}

.endreBox1{
    float: right;
    padding-right: 30px;
}


.container {
    margin-top: 40px;
    text-align: center;
}

.row {
    margin-top: 30px;
}

.col-sm {
    font-size: 17px;
}


.endreBox1 img {
    height: 15px;
}

h4 {
    margin-top: -20px;
    font-size: 15px;
    margin-left: 22px;
}