body {
    background-color: #F7FAFF !important;
    background-image: none !important;
}

.titleBar {
    width: 100%;
    height: 50px;
    background-color: #F7FAFF ;
    color: black;
}

.titleBar a {
    color: black !important;
    text-decoration: none;
}

.titleBar .bellButton img {
    width: 100%;
    height: 100%;

}

.titleBar .bellButton {
    width: 50px;
    height: 50px;
    display: inline;
    position: absolute;
    right: 15px;
    top: 15px;

}

#loginBox {
    background-color: #F7FAFF ;
    width: 1000px;
    height: 300px;
    margin-top: 350px;
    text-align: center;
    box-shadow: none !important;
}

#loginBox h1 {
    font-size: 30px;
    margin-top: 100px;
    margin-bottom: 100px;

}

.knapp-center {
    width: 100%;
    text-align: center;
}
/* Stor knapp på dashboard. Flyttes?*/
.knapp {
    margin-left: auto;
    margin-right: auto;
    transition-duration: 200ms;
    text-shadow: 0px 0px rgba(0,0,0,0);
}

.knapp:hover {
    transform: scale(1.1);
}

.knapp:active {
    transform: scale(1.15);
}

.knapp:after {
    transform: scale(1.1);
}

.knappbilde {
    width: 125px;
    height: 125px;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}

.knappbilde img {
    max-width: 70%;
    max-height: 70%;
    margin-top: 20px;
}

.knapp a{
    color: white !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: midnightblue;
}

#minprofil {
    background-color: #6E8BD6;
}

#adminklubber {
    background-color: #94C98D;
}

#resultater {
    background-color: #F25454;
}


footer {
    position: absolute;
    bottom: 0px;
    background-color: #ECF1FF ;
    padding: 20px;
    width: 100%;
    height: 200px;
}

footer h2 {
    font-size: 15px;
    margin-bottom: 10px;
}

.col-sm {
    text-align: center;
    margin-top: 30px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}

#notificationPopup {
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    background-color: darkkhaki;
}

#closeMenuButton {
    cursor: pointer;
}

#bellButton {
    cursor: pointer;
}