body {
    background-color: white !important;
    background-image: none !important;
}

#loginBox {
    width: 1000px;
    height: 300px;
    text-align: center;
    box-shadow: none !important;
}

#loginBox h1 {
    font-size: 30px;
}

.knapp {
    width: 100px;
    height: 100px;
    font-size: 25px;
    border-width: 0px;
    float: left;
    margin-left: 70px;
    text-align: center;
}

.knappbilde {
    width: 80%;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.knappbilde img {
    width: 100%;
}

.knapp a{
    color: white !important;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#adminutøvere {
    background-color: yellow;
}

#adminklubber {
    background-color: mediumseagreen;
}

#godkjenneresults {
    background-color: indianred;
}
