body {
    background-color: #F7FAFF !important;
    background-image: none !important;
    font-size: 18px;
}

.titleBar {
    width: 100%;
    height: 50px;
    background-color: #FCE76E;
    color: black;
}

.titleBar a {
    color: black !important;
    text-decoration: none;
}

.titleBar .backButton {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    display: inline;
}

.titleBar h1 {
    font-size: 20px;
    margin-top: 11px;
    font-weight: 300;
}

.titleBar h3 {
    margin-top: 15px;
    margin-left: 10px;
    font-size: 18px;
}

.titleBar * {
    display: inline-flex;
}

.titleBar img {
    margin-top: 10px;
    height: 30px;
    margin-right: 10px;
}

.centerObjects {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.container {
    margin-top: 40px;
}

.sideButton {
    height: 60px;
    position: absolute;
    margin-top: 10px;
}

.sideButton img {
    height: 100%;
}

#addUtøver {
    left: 10px;
}

#removeUtøver{
    right: 10px;
}

.searchBar {
    font-weight: 300;
    margin-bottom: 30px;
}

.row {
    height: 55px;
}

.rowFirst {
    color: #6E8BD6;
}

#sokefelt {
    width: 250px;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    background-color: #FFF9D9;
    color: black;
}

.footerButton {
    width: 200px;
    height: 100%;
    background-color: #FCE76E;
    text-align: center;
}

.footerButton h2 {
    margin-top: 16px;
    font-size: 18px;
}

.footerButton img {
    width: 50px;
    height: 50px;
    position: absolute;
}

#footerLeft img {
    left: 2px;
}

#footerRight img {
    right: 2px;
}

#footerLeft {
    float: left;
}

#footerRight {
    float: right;
}