.titleBar {
    background-color: #94C98D;
}

.container {
    margin-top: 40px;
    text-align: center;
}

.row {
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.smallText {
    width: 40%;
}

hr {
    width: 60%;
    background-color: #6E8BD6;
}

.col-sm-4 {
    text-align: left;
}

.col-sm-8 {
    text-align: left;
}