body {
    background-color: #F7FAFF !important;
    background-image: none !important;
    font-size: 18px;
}

.container {
    margin-top: 40px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

h1 {
    margin-top: 110px;
    color: #26396A;
    font-weight: 200;
    font-size: 26px;
    font-family: 'Helvetica', serif;
}

h1 b {
    font-weight: 500;
}

.row {
    width: 60%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.textField {
    height: 35px;
    width: 100%;
    border-radius: 0px;
    border-color: #6E8BD6;
    border-width: 1px;
    border-style: solid;

    text-align: left;
}

.smallText {
    width: 40%;
}

hr {
    width: 60%;
    background-color: #6E8BD6;
}

.col-sm-4 {
    text-align: left;
}

.col-sm-8 {
    text-align: left;
}

form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}